<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<%= link_to 'Edit', edit_project_photo_path(@project, @photo) %> |
<%= link_to 'Back', project_photos_path(@project) %>
